*::before, *, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --footerHeaderBackgroundColor: rgb(240, 240, 240);
    --wireframeBackgroundColor: rgba(23, 186, 235, 0.24);
}

html, body{
    height: 100%;

    font-family: 'Lexend', sans-serif;

    background-color: #0f0e13;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    min-height: calc(100vh - 80px);

    width: 100%;
}

