.container{
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: calc(100vh - 80px - 80px);

    padding: 50px;

    .content{
        display: flex;
        flex-direction: column;

        width: 100%;
        max-width: 1000px;
        height: 100%;

        padding: 20px;

        align-items: center;
        justify-content: center;
        background-color: var(--wireframeBackgroundColor);
    }

    input{
        border: none;
        border-radius: 30px;

        height: 35px;
        width: 200px;

        margin-top: 20px;

        padding: 5px 10px;

        outline: none;

        color: rgb(60, 60, 60);

    }
}